<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/index.css">
</head>
<body>
    <div class="list-box">
        <div class="list-head">
            <h1>添加记录</h1>
        </div>
        <div class="border"></div>
        <div class="form-box">
            <form action="" method="post">
                <span>事项</span><br>
                <input type="text" class="form-item" name="obj">
                <span>发生时间</span><br>
                <input type="text" class="form-item" name="time">
                <span>类型</span><br>
                <input type="text" placeholder="类型" name="type" class="form-item">
                <span>金额</span><br>
                <input type="text" class="form-item" name="money">
                <span>备注</span><br>
                <input type="text" class="form-item" name="tip">
                <button id="submit">确认添加</button>
            </form>
        </div>
    </div>
    <script>

    </script>
</body>
</html>